.post {
    margin: .5rem auto;
    padding: .75rem;
    padding-bottom: .25rem;
    max-width: 600px;
    border-radius: .25rem;
    background: #fff;
    border: 1px solid var(--clr-light-100);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .10);
    &-hot-brand {
        display: none;
    }
    &.post-hot {
        position: relative;
        z-index: 1;
        border: 2px solid #ed5e2f;
        .post-hot-brand {
            position: absolute;
            top: -9px;
            left: -9px;
            display: grid;
            place-items: center;
            width: 25px;
            height: 25px;
            color: #fff;
            background: #ed5e2f;
            border-radius: 50%;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        &-user {
            display: flex;
            align-items: center;
            &-thumb {
                width: 35px;
                height: 35px;
                object-fit: cover;
                border-radius: 50%;
            }
            &-info {
                margin-left: .5rem;
                &-name {
                    height: 20px;
                    font-size: .95rem;
                    font-weight: bold;
                }
                &-tagsname {
                    font-size: .78rem;
                    color: var(--clr-light-500);
                }
            }
        }
        &-handle {
            &-icon {
                display: grid;
                place-items: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                font-size: 1.5rem;
                &:hover {
                    cursor: pointer;
                    background: var(--clr-light);
                }
            }
        }
    }
    &-content {
        margin: .5rem 0;
        font-size: .92rem;
    }
    &-thumb {
        width: 100%;
        background: var(--clr-light);
        &-img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            &.img-contain-active {
                object-fit: contain;
            }
        }
    }
    &-action {
        display: flex;
        margin-top: .5rem;
        justify-content: space-between;
        border-top: 1px solid var(--clr-light-100);
        &-item {
            margin-top: .25rem;
            padding: .15rem .5rem;
            width: 100%;
            border-radius: .25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.reaction-active {
                .post-action-item-icon {
                    color: #e23168;
                    font-weight: bold;
                }
            }
            &:nth-child(1) {
                &:hover {
                    cursor: pointer;
                    background: #f8e6ec;
                    .post-action-item-count,
                    .post-action-item-icon {
                        color: #e23168;
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    cursor: pointer;
                    background: #e1f5ed;
                    .post-action-item-count,
                    .post-action-item-icon {
                        color: #2fcf8d;
                    }
                }
            }
            &:nth-child(3) {
                &:hover {
                    cursor: pointer;
                    background: #e1eaf5;
                    .post-action-item-count,
                    .post-action-item-icon {
                        color: #2d7ad3;
                    }
                }
            }
            &-icon {
                display: grid;
                place-items: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                font-size: .9rem;
            }
            &-count {
                font-size: .9rem;
                color: var(--clr-black);
            }
        }
    }
    &-comment {
        margin-top: .25rem;
        padding: .5rem 0;
        border-top: 1px solid var(--clr-light-100);
        display: none;
        &.post-comment-active {
            display: block;
        }
        &-item {
            margin-bottom: .5rem;
            &:is(:last-child) {
                margin-bottom: 0;
            }
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: .25rem;
                &-user {
                    display: flex;
                    &-thumb {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    &-info {
                        display: flex;
                        align-items: center;
                        margin-left: .5rem;
                        &-name {
                            font-size: .95rem;
                            font-weight: bold;
                        }
                        &-tagsname {
                            margin-left: .5rem;
                            font-size: .78rem;
                            color: var(--clr-light-500);
                        }
                    }
                }
                &-handle {
                    &-icon {
                        display: grid;
                        place-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        font-size: 1.3rem;
                        &:hover {
                            cursor: pointer;
                            background: var(--clr-light);
                        }
                    }
                }
            }
            &-content {
                font-size: .9rem;
                padding: .5rem;
                border-radius: .35rem;
                margin: 0 0 .35rem 2.3rem ;
                background: var(--clr-light);
            }
            &-action {
                display: flex;
                margin-left: 2.3rem;
                &-like,
                &-reply {
                    font-weight: bold;
                    font-size: .75rem;
                    color: var(--clr-light-500);
                    &:hover {
                        cursor: pointer;
                        color: var(--clr-black);
                        text-decoration: underline;
                    }
                }
                &-like.reaction-active {
                    font-weight: bold;
                    color: #416bca;
                }
                &-reply {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}