:root {
    --clr-light: #f2f2f2;
    --clr-light-100: #e8e8e8;
    --clr-light-200: #d2d2d2;
    --clr-light-300: #c2c2c2;
    --clr-light-400: #b2b2b2;
    --clr-light-500: #a2a2a2;
    --clr-black: #565656;
    --clr-black-100: #464646;
    --clr-black-200: #363636;
    --clr-black-300: #262626;
    --clr-black-400: #161616;
    --clr-black-500: #000000;

    --transition: 0.25s;
}